## This file contains two portions 
### 1) Weather prediction API 
### 2) Merging accident hotspot prediction data and SA2 coordinates to show on streamlit map

## Preparation for Weather Prediction

In [66]:
import openmeteo_requests

import requests_cache
import pandas as pd
from retry_requests import retry
import openmeteo_requests

import requests_cache
from retry_requests import retry

from shapely import wkt
from shapely.geometry import Point
import geopandas as gpd

import warnings

warnings.filterwarnings('ignore')

from pyproj import Proj, transform
import datetime as dt

import requests_cache
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from openmeteo_requests import Client
import numpy as np

## Calculate centroids for each meshblock to get coordinates

Calculate the centroid of each aggregate the centroids of the meshblocks.

By calculating the centroid, we are essentially representing the entire meshblock by a single point, which is the geometric center of the meshblock.

If we need to retrieve weather data for the entire area of the meshblock, using the centroid as a representative point is a common and practical approach I feel. 

If the area is small or the weather conditions are expected to be relatively uniform across the meshblock, this approach can be quite effective.

In [76]:
file_path = 'meshblocks-auckland-higher.csv'
meshblock_data = pd.read_csv(file_path)

# Parse the WKT column to extract geometries
meshblock_data['geometry'] = meshblock_data['WKT'].apply(wkt.loads)

# Convert to a GeoDataFrame
gdf = gpd.GeoDataFrame(meshblock_data, geometry='geometry')

# Set the initial CRS to EPSG:2193 (modify this if different)
gdf.set_crs(epsg=2193, inplace=True)

# Convert to WGS 84 (latitude and longitude)
gdf = gdf.to_crs(epsg=4326)

# Calculate centroids for each geometry
gdf['centroid'] = gdf['geometry'].centroid

# Extract latitude and longitude from centroids
gdf['latitude'] = gdf['centroid'].apply(lambda x: x.y)
gdf['longitude'] = gdf['centroid'].apply(lambda x: x.x)

# Display the data with centroids
meshblock_centroids = gdf[['MB2024_V1_00', 'latitude', 'longitude', 'SA12023_V1_00', 'SA22023_V1_00', 'SA32023_V1_00']]
meshblock_centroids.head()

,MB2024_V1_00,latitude,longitude,SA12023_V1_00,SA22023_V1_00,SA32023_V1_00
0,4019145,-36.899286,174.716277,7037220,135500,51440
1,4001328,-36.852361,174.777485,7037219,136400,51200
2,827902,-37.218339,174.943047,7032417,169901,52450
3,4014920,-37.100411,174.946908,7032175,164302,52250
4,4004236,-37.093404,174.951154,7010152,164302,52250

In [13]:
# Remove duplicate rows based on 'SA22023_V1_00'
SA2_SA3_unique = meshblock_centroids.drop_duplicates(subset=['SA22023_V1_00'])

### Open-Meteo API

In [32]:
# Set up the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after=3600)
retry_strategy = Retry(total=5, backoff_factor=0.2, status_forcelist=[429, 500, 502, 503, 504])
adapter = HTTPAdapter(max_retries=retry_strategy)
cache_session.mount("https://", adapter)
cache_session.mount("http://", adapter)
openmeteo = Client(session=cache_session)

# Define a function to get weather data for a given latitude and longitude
def get_weather_data(latitude, longitude):
    url = "https://api.open-meteo.com/v1/forecast"
    params = {
        "latitude": latitude,
        "longitude": longitude,
        "daily": ["weather_code", "temperature_2m_min", "wind_speed_10m_max"],
        "timezone": "Pacific/Auckland",
        "forecast_days": 14
    }
    response = openmeteo.weather_api(url, params=params)[0]
    
    daily = response.Daily()
    daily_data = {
        "date": pd.date_range(
            start=pd.to_datetime(daily.Time(), unit="s", utc=True),
            end=pd.to_datetime(daily.TimeEnd(), unit="s", utc=True),
            freq=pd.Timedelta(seconds=daily.Interval()),
            inclusive="left"
        ),
        "weather_code": daily.Variables(0).ValuesAsNumpy(),
        "temperature_2m_min": daily.Variables(1).ValuesAsNumpy(),
        "wind_speed_10m_max": daily.Variables(2).ValuesAsNumpy()
    }
    return pd.DataFrame(data=daily_data)

# Initialize an empty list to store the weather data for all locations
all_weather_data = []

# Loop through each unique SA22023_V1_00 value and get the weather data
for index, row in SA2_SA3_unique.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    sa22023_v1_00 = row['SA22023_V1_00']
    sa32023_v1_00 = row['SA32023_V1_00']
    
    # Fetch weather data
    weather_data = get_weather_data(latitude, longitude)
    
    # Add the SA22023_V1_00 value to the weather data
    weather_data['SA22023_V1_00'] = sa22023_v1_00
    weather_data['SA32023_V1_00'] = sa32023_v1_00
    
    # Append to the list
    all_weather_data.append(weather_data)

# Combine all the weather data into a single DataFrame
combined_weather_data = pd.concat(all_weather_data, ignore_index=True)

# Display the combined weather data
#import ace_tools as tools; tools.display_dataframe_to_user(name="Combined Weather Data", dataframe=combined_weather_data)

In [38]:
combined_weather_data['SA22023_V1_00'] = combined_weather_data['SA22023_V1_00'].astype(int)
combined_weather_data['SA32023_V1_00'] = combined_weather_data['SA32023_V1_00'].astype(int)

## Mapping the weather code from Open-meteo to CAS weatherA and weatherB

In [41]:
# Define mapping functions for weatherA, based on weather_code from open-meteo and filtered date
def map_to_weatherA(row):
    if row['weather_code'] in [71, 73, 75, 77, 85, 86]:
        return 'Snow'
    elif row['weather_code'] in [63, 65, 81, 82, 95]:
        return 'Heavy rain'
    elif row['weather_code'] in [51, 53, 55, 56, 57, 61, 80]:
        return 'Light rain'
    elif row['weather_code'] in [66, 67, 96, 99]:
        return 'Hail or Sleet'
    elif row['weather_code'] in [45, 48]:
        return 'Mist or Fog'
    else:
        return 'Fine'

#for weatherB, based on wind speed and temperature. 
def map_to_weatherB(row):
    if row['wind_speed_10m_max'] > 30:
        return 'Strong wind'
    elif row['temperature_2m_min'] <= 0:
        return 'Frost'
    else:
        return 'None'
    
for index, row in combined_weather_data.iterrows():

# Apply the mapping functions
    combined_weather_data['weatherA'] = combined_weather_data.apply(map_to_weatherA, axis=1)
    combined_weather_data['weatherB'] = combined_weather_data.apply(map_to_weatherB, axis=1)
    combined_weather_data['light'] = 'day'
# extract date only
    combined_weather_data['date'] = pd.to_datetime(combined_weather_data['date'])
    combined_weather_data['date'] = combined_weather_data['date'].dt.date

## Merging day and night weather condition

In [51]:
result_day = combined_weather_data[['date', 'SA22023_V1_00','SA32023_V1_00','weatherA','weatherB', 'light']]
result_night = combined_weather_data.copy()

for index, row in result_night.iterrows():

    result_night['light'] = 'night'
    result_night = result_night[['date', 'SA22023_V1_00','SA32023_V1_00','weatherA', 'weatherB', 'light']]
#print(result_day)
#print(result_night)
combined_result = pd.concat([result_day, result_night], ignore_index=True)

# Sort the DataFrame by 'date' and then by 'light' to ensure 'Day' comes before 'Night'
combined_result.sort_values(by=['date'], ascending=[True], inplace=True)

# Reset index after sorting
combined_result.reset_index(drop=True, inplace=True)

#combined_result.to_csv('weather_forecaset_sa3.csv', index=False)
combined_result

            date  SA22023_V1_00  SA32023_V1_00    weatherA     weatherB  light
0     2024-05-28         135500          51440  Heavy rain  Strong wind  night
1     2024-05-29         135500          51440        Fine  Strong wind  night
2     2024-05-30         135500          51440        Fine         None  night
3     2024-05-31         135500          51440        Fine         None  night
4     2024-06-01         135500          51440        Fine         None  night
...          ...            ...            ...         ...          ...    ...
8717  2024-06-06         112901          50480  Light rain         None  night
8718  2024-06-07         112901          50480        Fine         None  night
8719  2024-06-08         112901          50480        Fine         None  night
8720  2024-06-09         112901          50480        Fine         None  night
8721  2024-06-10         112901          50480        Fine         None  night

[8722 rows x 6 columns]

In [65]:
combined_result.to_csv('weather_forecaset_all.csv', index=False)

## Merging SA2 borders and prediction output

#### Cleansing SA2 file from NZ Stats

In [163]:

# Load shapefile
shapefile_path = 'SA2.shp'


gdf = gpd.read_file(shapefile_path)

In [165]:
gdf.head(1)

,SA22023_V1,SA22023__1,SA22023__2,LAND_AREA_,AREA_SQ_KM,Shape_Leng,geometry
0,100100,North Cape,North Cape,829.188012,829.188012,416039.151064,"MULTIPOLYGON (((1614006.423 6153883.036, 16140..."

In [166]:
none_geometry = gdf[gdf['geometry'].isnull()]
none_geometry

,SA22023_V1,SA22023__1,SA22023__2,LAND_AREA_,AREA_SQ_KM,Shape_Leng,geometry
908,400001,New Zealand Economic Zone,New Zealand Economic Zone,0.0,0.0,0.0,None
909,400010,Oceanic Bounty Islands,Oceanic Bounty Islands,0.0,0.0,0.0,None
910,400011,Bounty Islands,Bounty Islands,0.0,0.0,0.0,None
911,400012,Oceanic Snares Islands,Oceanic Snares Islands,0.0,0.0,0.0,None
922,400013,Snares Islands,Snares Islands,0.0,0.0,0.0,None
923,400014,Oceanic Antipodes Islands,Oceanic Antipodes Islands,0.0,0.0,0.0,None
924,400015,Antipodes Islands,Antipodes Islands,0.0,0.0,0.0,None
2386,400002,Oceanic Kermadec Islands,Oceanic Kermadec Islands,0.0,0.0,0.0,None
2387,400003,Kermadec Islands,Kermadec Islands,0.0,0.0,0.0,None
2388,400004,Oceanic Oil Rig Taranaki,Oceanic Oil Rig Taranaki,0.0,0.0,0.0,None
2389,400005,Oceanic Campbell Island,Oceanic Campbell Island,0.0,0.0,0.0,None
2390,400006,Campbell Island,Campbell Island,0.0,0.0,0.0,None
2391,400007,Oceanic Oil Rig Southland,Oceanic Oil Rig Southland,0.0,0.0,0.0,None
2392,400008,Oceanic Auckland Islands,Oceanic Auckland Islands,0.0,0.0,0.0,None
2393,400009,Auckland Islands,Auckland Islands,0.0,0.0,0.0,None
2394,400016,Ross Dependency,Ross Dependency,0.0,0.0,0.0,None

In [167]:
gdf_cleaned = gdf.dropna(subset=['geometry'])

In [168]:
columns_to_keep = ['SA22023__1', 'geometry', 'SA22023_V1']
gdf_cleaned = gdf_cleaned[columns_to_keep]

In [169]:
gdf_cleaned.head(3)

,SA22023__1,geometry,SA22023_V1
0,North Cape,"MULTIPOLYGON (((1614006.423 6153883.036, 16140...",100100
1,Rangaunu Harbour,"MULTIPOLYGON (((1624166.328 6127258.658, 16241...",100200
2,Inlets Far North District,"MULTIPOLYGON (((1625534.345 6096218.852, 16255...",100301

In [170]:
gdf_cleaned = gdf_cleaned.drop_duplicates(subset=['SA22023_V1'])

In [171]:
gdf_cleaned = gdf_cleaned.rename(columns={'SA22023__1': 'SA2_Name'})

In [172]:
gdf_cleaned = gdf_cleaned.rename(columns={'geometry': 'WKT'})

In [173]:
gdf_cleaned.to_csv('SA2.csv', index=False)

#### Prediction data from Linear Regerssion

In [175]:
file_path = 'prediction_data.csv'
basic_inference_data = pd.read_csv(file_path)

In [176]:
basic_inference_data.head()

,date,isHoliday,SA2_Name,weatherA,weatherB,partOfDay,trafficCount,population,predicted_value
0,2024-05-28,0,Waiake,Heavy rain,Strong wind,day,3.941651e+06,1678000.0,0
1,2024-05-28,0,Waiake,Heavy rain,Strong wind,night,3.941651e+06,1678000.0,0
2,2024-05-28,0,Papakura Central,Heavy rain,Strong wind,night,3.941651e+06,1678000.0,0
3,2024-05-28,0,Papakura Central,Heavy rain,Strong wind,day,3.941651e+06,1678000.0,0
4,2024-05-28,0,Otara South West,Heavy rain,Strong wind,night,3.941651e+06,1678000.0,0

In [177]:
# Merge the datasets on SA2 name
merged_data = pd.merge(basic_inference_data, just_SA2, on='SA2_Name', how='inner')

In [178]:
merged_data.head()

,date,isHoliday,SA2_Name,weatherA,weatherB,partOfDay,trafficCount,population,predicted_value,WKT,SA22023_V1_00
0,2024-05-28,0,Waiake,Heavy rain,Strong wind,day,3.941651e+06,1678000.0,0,"POLYGON ((1756467.1147 5936024.433,1756545.659...",117900
1,2024-05-28,0,Waiake,Heavy rain,Strong wind,night,3.941651e+06,1678000.0,0,"POLYGON ((1756467.1147 5936024.433,1756545.659...",117900
2,2024-05-29,0,Waiake,Fine,Strong wind,night,3.941651e+06,1678000.0,0,"POLYGON ((1756467.1147 5936024.433,1756545.659...",117900
3,2024-05-29,0,Waiake,Fine,Strong wind,day,3.941651e+06,1678000.0,0,"POLYGON ((1756467.1147 5936024.433,1756545.659...",117900
4,2024-05-30,0,Waiake,Fine,Null,day,3.941651e+06,1678000.0,0,"POLYGON ((1756467.1147 5936024.433,1756545.659...",117900

In [179]:
merged_data.to_csv('output_crash.csv', index=False)